.carousel.carousel-slider {
    max-height: 70vh;
    min-height: 50vh;
    display: flex;
    margin-top: 55px;
}

.carousel .thumbs-wrapper {
    margin: 0;
    padding: 0;
    background-color: #343a40;
    max-height: 40vh;
    border: 0;
}
.carousel .thumbs {
    margin-top: 0;
    margin-bottom: 0;
    }
.carousel .thumb {
    margin-right: 2px;
    margin-top: 10px;
    margin-bottom: 5px;
    border: 1px solid white;
    height: 50px;
    width: 50px;
   }
.carousel .thumb img {
    height: 100%;
    width: 100%;
    object-fit: cover;
   }