@import '../../styles/general.scss';

.offerContainer {
  display: block;
  padding: 0 30px;
  max-width: 100%;
  -webkit-align-items: center;
  align-items: center;
  margin-top: 56px;
  margin-bottom: 30px;

  .icons {
    margin-left: 15px;
    color: $color-main;
  }

}
.cards {
  margin-bottom: 20px;
}

