@import '../../styles/general.scss';

.aboutUs {
  max-width: 100%;
  margin-top: 56px;
  color: $color-main;
  padding-top: 16px;

  .aboutPhoto {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px 5px;
  }

  .name {
    font-weight: bold;
  }

}
