.CarouselContainer {
  height: 95vh;
  object-fit: cover;
  @media (max-height: 420px) {
    height: 87vh;
  }
  @media (min-height:421px) and (max-height: 560px) {
    height: 85vh;
  }
}

.homeContainer {
  margin-bottom: 24px;
}