@import '../../styles/general.scss';

.contact {
  max-width: 85vw;
  margin-top: 56px;
  position: absolute;
  top: 5%;
  left: 10%;
  color: $color-main;
  margin-bottom: 30px;
}

.icons {
  margin-right: 10px;
}

.container {
  position: relative;
}

.contactForm {
  width: 80vw;

  input, textarea {
    border: none;
    color: $color-main;
    width: 100%;
    border-bottom: 5px solid $color-main;
    box-shadow: none;
  }

  ::placeholder {
    color: $color-main;
  }
}

.contactButton {
  background-color: $color-main;
  border-color: $color-main;
}

